* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e84393;
    background-color: #2d3436;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock-container {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.stock-card {
    min-width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #e84393;
    border-radius: 10px;
}

i {
    font-size: 3rem;
    margin: 20px;
}

#btn, .btn {
    color: #e84393;
    background-color: #2d3436;
    font-size: 1rem;
    border: 2px solid #e84393;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#btn:active, .btn:active {
    transform: translateY(2px);
    box-shadow: 0px;
}