* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px auto 100px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e84393;
    background-color: #2d3436;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stock-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.stock-card {
    min-width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #e84393;
    border-radius: 10px;
}

i {
    font-size: 3rem;
    margin: 20px;
}

.add-product {
    width: 350px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.product-container {
    margin: 50px;
}

#product-input, #btn, #btn-remove, .item-div, .btn {
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: #e84393;
    background-color: #2d3436;
    font-size: 1rem;
    border: 2px solid #e84393;
    border-radius: 5px;
}

#product-input {
    background-color: rgb(209, 208, 208);
}

.item-div {
    width: 340px;
    min-width: 250px;
}

.error {
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: #fff;
    background-color: #e84393;
    font-size: 1rem;
    border-radius: 5px;
}

.hidden-error {
    opacity: 0;
    transition: all .8s ease;
}

#btn:active, .btn:active {
    transform: translateY(2px);
    box-shadow: 0px;
}